{meta_html css '/css/style.css'}

<div id="page">
<div id="cadre">
<a href="http://www.tlkgames.com/fr/"><img src="/gfx/tlk-games-sharewares.png" alt="bandeau TLK Games" title="Jeux sharewares pour Windows&reg;" /></a>
{zone 'mainMenu'}
<div id="contenu">
<img class="haut-gauche" src="/gfx/coin-haut-gauche.png" alt="" />
<div class="milieu">

{$MAIN}



</div>
<img class="haut-droite" src="/gfx/coin-haut-droite.png" alt="" />
<hr class="clear"/>
&nbsp;
</div>
<div id="boutons">
<a href="https://www.mozilla.org/fr/firefox/new/"><img src="/gfx/adopter-firefox.png" alt="bouton Firefox" title="Téléchargez Firefox" /></a>
<a href="https://www.getgnulinux.org/fr/"><img src="/gfx/b_linux.gif" alt="Linux now" title="Passez à GNU/Linux" /></a>
<a href="http://www.amiga.org/"><img src="/gfx/amigaorg.jpg" alt="amiga.org" title="amiga dot org" /></a>
<a href="https://www.amiga-news.de/en/"><img src="/gfx/and.png" alt="amiga.org" title="amiga-news.de and more" /></a>

</div>
<img src="/gfx/gurumain.gif" alt="animation du célébre Guru Meditation" title="" />
</div>
</div>
